.Orari {
  padding-top: 10px;
  opacity: 0.6;
  font-weight:400;
}

.restaurant-info {
  padding: 50px;
  text-align: center;
}

.card {
  transition: transform 0.3s ease, box-shadow 0.3s ease; /* Aggiunge una transizione fluida per la trasformazione e l'ombra */
}

.card:hover {
  transform: translateY(-5px); /* Sposta leggermente verso l'alto quando passi sopra */
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3); /* Aggiorna l'ombra quando passi sopra */
}

.restaurant-info h2 {
  font-size: 32px;
  margin-bottom: 20px;
}

.restaurant-info p {
  font-size: 18px;
  line-height: 1.6;
  margin-bottom: 20px;
}

.restaurant-info .opening-hours {
  font-weight: bold;
  margin-bottom: 5px;
}

.pasq {
  margin-bottom: 5px !important;
}

.spziosotto {
  margin-bottom: 15px; !important
}

.btn-danger:hover {
  background-color: #FF4343; /* Cambia il colore di sfondo al passaggio del mouse */
  transform: scale(1.1); /* Ingrandisce leggermente il bottone al passaggio del mouse */
  box-shadow: 0px 8px 12px rgba(0,0,0,0.2); /* Aggiunge un'ombra più evidente al passaggio del mouse */
}

.foot {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
}

.navbar-brand {
  font-size: 1.5rem !important;
}

.navbar-nav .nav-item a.nav-link {
  font-weight: 500;
}

.nav-link-bold {
  font-weight: bold;
}

.more {
  margin-right: 15px !important;
}

/* Stile per i link delle stelline */
.star-link {
  text-decoration: none; /* Rimuove il sottolineato dei link */
  color: inherit; /* Utilizza il colore di default del testo */
}

/* Stile per il passaggio del mouse sul link delle stelline */
.star-link:hover {
  color: gold; /* Cambia il colore in oro quando il mouse è sopra */
}

.review-card {
  border: 1px solid #ccc;
  border-radius: 10px;
  padding: 20px;
  margin-top: 10px;
  margin-bottom: 10px;
  text-align: center; /* Centra il contenuto delle recensioni */
}
.review-title {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 10px;
}
.review-content {
  margin-bottom: 20px;
}
.stars {
  color: #FFD700; /* Colore delle stelle (giallo oro) */
}
.add-review-button {
  margin-top: 20px;
  margin-bottom: 40px; /* Aumenta lo spazio sotto il pulsante */
  background-color: #ff8c00; /* Colore arancione */
  border-color: #ff8c00; /* Colore arancione */
  text-align: center;
}
.add-review-button:hover {
  background-color: #ff6b00; /* Cambia colore al passaggio del mouse */
  border-color: #ff6b00; /* Cambia colore al passaggio del mouse */
}

.cerca-destra {
  margin-right: 15%;
}

#googleMap {
  border: 2px solid #ddd; /* Aggiungi un bordo sottile */
  border-radius: 10px; /* Arrotonda gli angoli */
  overflow: hidden; /* Assicurati che i contorni siano tagliati correttamente */
}

.topmarg {
  margin-top: 25px;
}

.borderleft {
  margin-left: 10px;
}

.OrariRist {
  opacity: 0.8;
  font-weight:500;
  margin-top:10px;
}