.Orari {
  padding-top: 10px;
  opacity: 0.6;
  font-weight:400;
}

.restaurant-info {
  padding: 50px;
  text-align: center;
}

.restaurant-info h2 {
  font-size: 32px;
  margin-bottom: 20px;
}

.restaurant-info p {
  font-size: 18px;
  line-height: 1.6;
  margin-bottom: 20px;
}

.restaurant-info .opening-hours {
  font-weight: bold;
}

.pasq {
  margin-bottom: 5px !important;
}

.spziosotto {
  margin-bottom: 15px; !important
}

.foot {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
}

.navbar-brand {
  font-size: 1.5rem !important;
}

.navbar-nav .nav-item a.nav-link {
  font-weight: 500;
}

.nav-link-bold {
  font-weight: bold;
}

.more {
  margin-right: 15px !important;
}