.Orari {
  padding-top: 10px;
  opacity: 0.7;
  font-weight:450;
  font-size: 14px;
}

.restaurant-info {
  padding: 50px;
  text-align: center;
}

#eliminaButton:hover {
  background-color: red;
  border-color: red;
  color: white;
}

#eliminaRistoranteButton:hover {
  background-color: red;
  border-color: red;
  color: white;
}

#confirmDeletePrenButton:hover {
  background-color: red;
  border-color: red;
  color: white;
}

.img-custom {
  max-width: 300px; 
  height: auto;
}

#confirmDeletePrenButtonModal:hover {
  background-color: red;
  border-color: red;
  color: white;
}

.dropdown-item {
  color: #000000; 
  transition: color 0.3s ease, background-color 0.3s ease;
}

.dropdown-item:hover, 
.dropdown-item:focus {
  background-color: #e9ecef;
}

.dropdown-item:active {
  color: #343a40;
  background-color: #b6b8b9;
  transition: color 0.3s ease, background-color 0.3s ease;
}

#confirmDeleteButton:hover {
  background-color: red;
  border-color: red;
  color: white;
}

#confirmDeleteRestaurantButton:hover {
  background-color: red;
  border-color: red;
  color: white;
}

#confirmDeleteRecButton:hover {
  background-color: red;
  border-color: red;
  color: white;
}

#confirmDeletePrenRistButtonModal:hover {
  background-color: red;
  border-color: red;
  color: white;
}

#confirmDeletePrenRistButton:hover {
  background-color: red;
  border-color: red;
  color: white;
}

 .restaurant-info p {
  color: #333; 
  font-size: 18px; 
  line-height: 1.6; 
  padding: 10px;
  background-color: rgba(255, 255, 255, 0.8); 
  border-radius: 10px; 
}

#favoriteButton:hover {
  background-color: red;
  color: white;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3); 
  transform: scale(1.05); 
}
#favoriteButton:active {
  transform: scale(0.98);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); 
}

.stretto {
  width: 200px; 
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  color: white;
  opacity: 0;
  transition: opacity 0.3s ease;
  display: flex;
  align-items: center;
  justify-content: center;
}

.overlay .text {
  font-size: 1.25rem;
  font-weight: bold;
  text-align: center;
}

.carousel-item img {
  max-height: 450px;
  margin-top: 30px;
  border-radius: 10px;
  object-fit: cover;
}





.restaurant-info h1 {
  font-size: 34px;
  margin-bottom: 20px;
}

.restaurant-info p {
  font-size: 16px;
  line-height: 1.6;
  margin-bottom: 20px;
}

.restaurant-info .opening-hours {
  font-weight: bold;
  margin-bottom: 5px;
  
}

.small-text {
  font-size: 1.2rem;
}

.nav-item.dropdown:hover .dropdown-menu {
  display: block;
}


.pasq {
  margin-bottom: 5px !important;
}

.spziosotto {
  margin-bottom: 15px !important;
}

.btn-danger:hover {
  background-color: #FF4343; 
  transform: scale(1.1); 
  box-shadow: 0px 8px 12px rgba(0,0,0,0.2);
}

.foot {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
}


.navbar-brand {
  font-size: 1.5rem !important;
}

.navbar-nav .nav-item a.nav-link {
  font-weight: 500;
}

.nav-link-bold {
  font-weight: bold;
}

.more {
  margin-right: 15px !important;
}

.star-link {
  text-decoration: none; 
  color: inherit;
}

.star-link:hover {
  color: gold; 
}

.review-card {
  border: 1px solid #ccc;
  border-radius: 10px;
  padding: 20px;
  margin-top: 10px;
  margin-bottom: 10px;
  text-align: center; 
}
.review-title {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 10px;
}
.review-content {
  margin-bottom: 20px;
}
.stars {
  color: #FFD700; 
}
.add-review-button {
  margin-top: 20px;
  margin-bottom: 40px;
  background-color: #ff8c00; 
  border-color: #ff8c00;
  text-align: center;
}
.add-review-button:hover {
  background-color: #ff6b00; 
  border-color: #ff6b00;
}

.cerca-destra {
  margin-right: 15%;
}

#googleMap {
  border: 2px solid #ddd;
  border-radius: 10px;
  overflow: hidden;
}

.topmarg {
  margin-top: 25px;
}

.borderleft {
  margin-left: 10px;
}

body {
  background-image: url("/images/photo-1506968430777-bf7784a87f23.jpeg"); 
  background-size: cover; 
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}